<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Automation Test Suite" verbose="1">
    <parameter name="environment" value="dev"/>
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="Payment Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.payment.PaymentPageApiTests"/>
            <class name="com.automation.tests.services.payment.UpiValidationTests"/>
        </classes>
    </test>
    
    <!-- Future service tests can be added here
    
    <test name="Ticketing Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.ticketing.TicketingApiTests"/>
        </classes>
    </test>
    -->
</suite>