<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Automation Test Suite" verbose="1">
    <parameter name="environment" value="dev"/>
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="User Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.user.UserApiTests"/>
        </classes>
    </test>
    
    <test name="Flight Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.flight.FlightBookingApiTests"/>
        </classes>
    </test>
    
    <!-- Future service tests can be added here -->
    <!--
    <test name="Payment Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.payment.PaymentApiTests"/>
        </classes>
    </test>
    
    <test name="Onboarding Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.onboarding.OnboardingApiTests"/>
        </classes>
    </test>
    
    <test name="Ticketing Service Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.services.ticketing.TicketingApiTests"/>
        </classes>
    </test>
    -->
</suite>